//
//  Development.xcconfig
//  YoungTalentiOS
//
//  Created by Ahmet Yasin Atakan on 19.04.2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BACKEND_URL = https:\/\/mobven.com\/dev
BUNDLE_ID = com.ahmetyasinatakan.YoungTalentiOSDev
APP_NAME = YoungTalentIosDev
